@import "~bootstrap/scss/bootstrap";

#logo{
    width: 500px;
    height: 348px;
    margin: 0px auto;
    background: transparent url('../assets/images/common/2019-ki-hoi.jpg') center center no-repeat scroll;
}